@{
}

@model BooksViewModel
<!--Index page styling-->

<h1>The Bookstore</h1>

<ul class="breadcrumb">
    <li>
        <a asp-controller="Home" asp-action="Index">Home</a>
    </li>
</ul>

@foreach (Book b in Model.Books)
    {
        <partial name="BookSummary" model="b" />
    }
<div page-meh="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
